<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教师主页</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>

<div th:object="${session.student}"  style="height: 600px">

    <p th:text="您好，学生： + *{studentName}"></p>

    <style type="text/css">
        table{
            border-collapse: collapse;
            text-align: center;
        }
        td{
            border: solid 1px;
        }
    </style>

    <table>
        <caption th:text="学生信息"></caption>
        <tr>
            <td th:text="学号"></td>
            <td th:text="*{studentId}"></td>
        </tr>
        <tr>
            <td th:text="密码"></td>
            <td th:text="*{studentPassword}"></td>
        </tr>
        <tr>
            <td th:text="名字"></td>
            <td th:text="*{studentName}"></td>
        </tr>
        <tr>
            <td th:text="性别"></td>
            <td th:text="*{studentGender}"></td>
        </tr>
        <tr>
            <td th:text="年级"></td>
            <td th:text="*{studentGrade}"></td>
        </tr>
        <tr>
            <td th:text="学院"></td>
            <td th:text="${studentAcademyName}"></td>
        </tr>
        <tr>
            <td th:text="专业"></td>
            <td th:text="*{studentMajor}"></td>
        </tr>
        <tr>
            <td th:text="班级"></td>
            <td th:text="*{studentClass}"></td>
        </tr>
    </table>

    <br>
    <form th:action="@{course/look.do}" th:method="get">
        <input th:type="submit" th:value="查看学生个人课表" title="查看学生个人课表"/>
    </form>
    <br>
    <form th:action="@{course/elective/school/set.do}" th:method="get">
        <input th:type="submit" th:value="选择全校性选修课" title="选择全校性选修课"/>
    </form>
    <br>
    <form th:action="@{course/elective/sports/set.do}" th:method="get">
        <input th:type="submit" th:value="选择体育选修课" title="选择体育选修课"/>
    </form>
    <br>
    <form th:action="@{/}" th:method="get">
        <input th:type="submit" th:value="登出" title="登出"/>
    </form>

</div>

</body>
</html>