<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择任课所需职称</title>
</head>
<body>

<p th:text="您已设置了该全校性选修课的名字为："></p>
<p th:text="${session.name}"></p>

<form th:action="@{rank.do}" th:method="post">
    <p th:text="请您选择该全校性选修课的任课老师所需职称"></p>
    <ul>
        <li>
            <input th:type="radio" th:name="rank" th:value="*{session.ASSISTANT}" th:text="助教" title="职称">
        </li>
        <li>
            <input th:type="radio" th:name="rank" th:value="*{session.LECTURER}" th:text="讲师" title="职称">
        </li>
        <li>
            <input th:type="radio" th:name="rank" th:value="*{session.ASSOCIATE_PROFESSOR}" th:text="副教授" title="职称">
        </li>
        <li>
            <input th:type="radio" th:name="rank" th:value="*{session.PROFESSOR}" th:text="教授" title="职称">
        </li>
    </ul>

    <input th:type="submit" title="提交">
</form>

</body>
</html>