<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择学期</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>

<div style="height: 600px">
    <form th:action="@{look.do}" th:method="post">
        <p th:text="请输入您想查看成绩的学年"></p>
        <label>
            <input th:type="text" th:name="year" placeholder="年份">
        </label>

        <p th:text="请选择您想查看成绩的学期"></p>
        <ul style="display: inline-block">
            <li>
                <input th:type="radio" th:name="semester" th:value="${session.LAST_HALF_SEMESTER}" th:text="上半学期"
                       title="学期">
            </li>
            <li>
                <input th:type="radio" th:name="semester" th:value="${session.NEXT_HALF_SEMESTER}" th:text="下半学期"
                       title="学期">
            </li>
        </ul>

        <br><br>
        <input type="submit">
    </form>
</div>


</body>
</html>