<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生成绩</title>
</head>
<body>

<p th:text="学生成绩如下："></p>

<style type="text/css">
    table {
        border-collapse: collapse;
        text-align: center;
    }

    td {
        border: solid 1px;
    }
</style>

<table>
    <caption th:text="学生成绩"></caption>

    <thead>
    <tr>
        <td th:text="成绩id"></td>
        <td th:text="学生学号"></td>
        <td th:text="学生姓名"></td>
        <td th:text="课程id"></td>
        <td th:text="课程名字"></td>
        <td th:text="卷面成绩占比"></td>
        <td th:text="卷面成绩"></td>
        <td th:text="平时成绩占比"></td>
        <td th:text="平时成绩"></td>
        <td th:text="实验成绩占比"></td>
        <td th:text="实验成绩"></td>
        <td th:text="总成绩"></td>
        <td th:text="教师教职工号"></td>
        <td th:text="教师姓名"></td>
    </tr>
    </thead>

    <tbody th:each="score, scoreStat : ${session.scoreList}">
    <tr th:object="${score}">
        <td th:text="*{scoreId}"></td>
        <td th:text="*{studentId}"></td>
        <td th:text="${session.studentList.get(scoreStat.index).studentName}"></td>
        <td th:text="*{courseId}"></td>
        <td th:text="${session.course.getCourseName()}"></td>
        <td th:text="${session.course.getRollRatio()}"></td>
        <td th:text="*{rollScore}"></td>
        <td th:text="${session.course.getUsualRatio()}"></td>
        <td th:text="*{usualScore}"></td>
        <td th:text="${session.course.getExperimentalRatio()}"></td>
        <td th:text="*{experimentalScore}"></td>
        <td th:text="${score.totalScore}"></td>
        <td th:text="${session.teacher.getTeacherId()}"></td>
        <td th:text="${session.teacher.getTeacherName()}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>