<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设置开课年份</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>

<div style="height: 600px">
    <p th:text="您已设置了该专业课的最大上课人数为："></p>
    <p th:text="${session.size + '人'}"></p>

    <form th:action="@{year.do}" th:method="post">
        <p th:text="请设置该全校性选修课的开课年份"></p>
        年份：
        <label>
            <input th:type="text" th:name="year" th:placeholder="年份">
        </label>

        <label>
            <input th:type="submit" th:value="提交">
            <input th:type="button" th:value="返回" th:onclick="history.back(-1);">
        </label>
    </form>
</div>

</body>
</html>