<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设置开课年份</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>

<div style="height: 600px">
    <p th:text="您已选择了以下班级："></p>
    <ul th:each="class, classStat : ${session.classArray}">
        <li th:text="${class}"></li>
    </ul>

    <form th:action="@{year.do}" th:method="post">
        <p th:text="请设置该专业课的开课年份"></p>
        年份：
        <label>
            <input th:type="text" th:name="year" placeholder="年份">
        </label>
        <p th:text="'您只能输入今年（' + ${year} + '）或大于' + ${year} + '的年份'" style="color: red"></p>

        <input type="submit">
    </form>
</div>

</body>
</html>