<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择任课所需职称</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>

<div style="height: 600px">
    <p th:text="您已设置了该专业课的名字为："></p>
    <p th:text="${session.name}"></p>

    <form th:action="@{rank.do}" th:method="post">
        <p th:text="请您选择该专业课的任课老师所需职称"></p>
        <ul>
            <li>
                <label>
                    <input th:type="radio" th:name="rank" th:value="*{session.ASSISTANT}" th:text="助教">
                </label>
            </li>
            <li>
                <label>
                    <input th:type="radio" th:name="rank" th:value="*{session.LECTURER}" th:text="讲师">
                </label>
            </li>
            <li>
                <label>
                    <input th:type="radio" th:name="rank" th:value="*{session.ASSOCIATE_PROFESSOR}" th:text="副教授">
                </label>
            </li>
            <li>
                <label>
                    <input th:type="radio" th:name="rank" th:value="*{session.PROFESSOR}" th:text="教授">
                </label>
            </li>
        </ul>

        <label>
            <input th:type="submit" th:value="提交">
            <input th:type="button" th:value="返回" th:onclick="history.back(-1);">
        </label>
    </form>
</div>

</body>
</html>