<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择上课时间</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>

<div style="height: 600px">
    <p th:text="您已设置了该专业课的上课日期为："></p>
    <p th:switch="${session.day}">
        <a th:case="${session.DAY_1}" th:text="星期一"></a>
        <a th:case="${session.DAY_2}" th:text="星期二"></a>
        <a th:case="${session.DAY_3}" th:text="星期三"></a>
        <a th:case="${session.DAY_4}" th:text="星期四"></a>
        <a th:case="${session.DAY_5}" th:text="星期五"></a>
        <a th:case="${session.DAY_6}" th:text="星期六"></a>
        <a th:case="${session.DAY_7}" th:text="星期日"></a>
    </p>

    <form th:action="@{order.do}" th:method="post">
        <p th:text="请您选择该专业课的上课时间"></p>

        <p th:text="课程开始时间："></p>
        <ul th:each="order, orderStat : ${orderArray}" style="display: inline-block; width: 50px">
            <li>
                <label>
                    <input th:type="radio" th:name="beginOrder" th:value="*{order}"
                           th:text="*{order.toString().split('_')[1]}" placeholder="时间">
                </label>
            </li>
        </ul>

        <p th:text="课程结束时间："></p>
        <ul th:each="order, orderStat : ${orderArray}" style="display: inline-block; width: 50px">
            <li>
                <label>
                    <input th:type="radio" th:name="endOrder" th:value="*{order}"
                           th:text="*{order.toString().split('_')[1]}" placeholder="时间">
                </label>
            </li>
        </ul>

        <br><br>
        <input type="submit">
    </form>
</div>

</body>
</html>