<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择上课班级</title>
</head>
<body>

<form th:action="@{class.do}" th:method="post">
    <p th:text="请选择您要设置公共课的班级"></p>
    <ul th:each="class, classStat : ${classSet}" style="display: inline-block">
        <li style="width: 150px">
            <input th:type="checkbox" th:name="classArray" th:value="*{class}" th:text="*{class}" placeholder="班级">
        </li>
    </ul>

    <br><br>
    <input type="submit">
</form>

</body>
</html>