<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择上课日期</title>
</head>
<body>

<p th:text="您已设置了该公共课的上课周期为："></p>
<p th:text="${'第' + session.beginWeek.toString().substring(5) + '周至第' + session.endWeek.toString().substring(5) + '周'}"></p>

<form th:action="@{day.do}" th:method="post">
    <p th:text="请您选择该公共课的上课日期"></p>
    <ul>
        <li>
            <input th:type="radio" th:name="day" th:value="*{session.DAY_1}" th:text="星期一" title="星期一">
        </li>
        <li>
            <input th:type="radio" th:name="day" th:value="*{session.DAY_2}" th:text="星期二" title="星期二">
        </li>
        <li>
            <input th:type="radio" th:name="day" th:value="*{session.DAY_3}" th:text="星期三" title="星期三">
        </li>
        <li>
            <input th:type="radio" th:name="day" th:value="*{session.DAY_4}" th:text="星期四" title="星期四">
        </li>
        <li>
            <input th:type="radio" th:name="day" th:value="*{session.DAY_5}" th:text="星期五" title="星期五">
        </li>
        <li>
            <input th:type="radio" th:name="day" th:value="*{session.DAY_6}" th:text="星期六" title="星期六">
        </li>
        <li>
            <input th:type="radio" th:name="day" th:value="*{session.DAY_7}" th:text="星期日" title="星期日">
        </li>
    </ul>

    <input th:type="submit" title="提交">
</form>

</body>
</html>