<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设置课程名字</title>
</head>
<body>

<p th:text="您已选择了该公共课的开课学期为：" ></p>
<p th:if="${session.semester eq session.LAST_HALF_SEMESTER}" th:text="上半学期"></p>
<p th:if="${session.semester eq session.NEXT_HALF_SEMESTER}" th:text="下半学期"></p>

<form th:action="@{name.do}" method="post">
    <p th:text="请输入您要设置的公共课名字"></p>
    课程名：<input th:type="text" th:name="name" placeholder="课程名字"><br>

    <br>
    <input type="submit">
</form>

</body>
</html>